# Python venvs
.venv/
.rvenv/

# Python caches
__pycache__/
*.pyc

# Data and artifacts (keep repo light)
data/
artifacts/*
!artifacts/.gitkeep
mlruns/
mlflow.db

# OS/editor stuff
.DS_Store
.vscode/
