name: Deploy Docker image

on:
  push:
    branches: [ main ]
    paths:
      - "src/**"
      - "Dockerfile"
      - ".github/workflows/deploy.yml"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: airq-api

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # build & push image: ghcr.io/<your-user>/airq-api:latest
      - name: Prepare image name (lowercase owner)
        run: |
          IMAGE_ID=${GITHUB_REPOSITORY_OWNER,,}/${IMAGE_NAME}
          echo "IMAGE_ID=$IMAGE_ID" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_ID }}:latest
